*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

body{
    padding: 0;
    margin: 0;
    background-color:#F2B33D;
}

#container {
  background-color: #F2BF80;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 15vh;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    width: max-content;
    margin: auto;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
    background-color: #F2BF80;
    border-radius: 50px;
    padding: 15px;
}

.calculator > button {
    font-family: 'Fira Code', monospace;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #0B0C0D;
    border: none;
    outline: none;
    color: white;
    border-radius: 50px;
    margin: 2px;
}

.calculator > button:hover{
    background-color: #3B3C40;
}

#button-clear{
    background-color: #F24B59;
}
#button-clear:hover{
    background-color: #F2913D;
}

#button-del{
    background-color: #F24B59;
}
#button-del:hover{
    background-color: #F2913D;
}
.output{
    grid-column: -1 / 1;
    background-color: #CEEFF2;
    border-radius: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
    margin: 10px;
}

.output .previous {
    color: #0B0C0D;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
}

.output .current {
    color: #0B0C0D;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
}

#footer {
  background-color: #f24b59;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}
