* {
  font-family: 'Fira Code', monospace;
}

#hero {
  background-color: #f2bf80;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#calculator {
  background-color: #f2b33d;
  border-radius: 50px;

}


.button {
  margin: 5px;
}

#footer {
  background-color: #f24b59;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}
